body {
    background-image: url(images/background.jpg);
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    color: #1e2460;
    text-decoration: none;
    outline: 0;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-inverse .navBar-brand {
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 27px;
    font-family: "Lato", serif;
    padding-bottom: 40px !important;
}

.navBar-fixed-top {
    position: relative;
    z-index: 10;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.navBar .admin-name {
    padding-bottom: 37px !important;
    font-family: "Lato", serif;
    font-size: 20px;
    width: 1525px;
    color: #fff;
    display: inline-block;
    text-align: right;
}

.pos {
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.btn-color-orange {
    background-color: #fd7e14;
    border: 1px solid #fd7e14;
}

.btn-color-red {
    background-color: #ff000e;
    border: 1px solid #ff000e;
}

.btn-color-green {
    background-color: #48d510;
    border: 1px solid #48d510;
}

.btn-color-red-blue {
    background-color: blueviolet;
    border: 1px solid blueviolet;
}

.btn-color-light-blue {
    background-color: #65a3e7;
    border: 1px solid #65a3e7;
}

.my-3 {
    margin-top: 0 !important;
    margin-bottom: 24px !important;
    width: 165px;
}

.my-3-2 {
    margin-left: 20px;
    width: 380px;
}

.teacher-panel-l {
    margin-top: 30px;
}

.teacher-panel {
    border-radius: 7px;
    margin-top: 90px;
}

.teacher-panel-m {
    height: 705px;
}

h3 {
    color: #ea6008;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
}

.my-3-3 {
    margin-bottom: 24px;
}

.th-1 {
    min-width: 230px;
    height: 100px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.th-2 {
    min-width: 350px;
    height: 35px;
    background-color: #2ca6cf;
    text-align: center;
    max-width: 140px;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.th-3 {
    min-width: 350px;
    height: 35px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.th-4 {
    min-width: 400px;
    height: 35px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
}

.my-td-1 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.my-td-2 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.my-td-3 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.my-td-4 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.button-panel {
    margin-top: 300px;
    padding-top: 20px;
    width: 420px;
    height: 240px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.teacher-table {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 25px;
    background-color: #fafbfc !important;
    width: 50%;
    border-collapse: collapse;
    text-align: left;
    height: auto;
    border: 2px solid #2ca6cf;
    border-block-end: none;
    border-block-start: none;
}