body {
    background-image: url(images/background.jpg);
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    color: #1e2460;
    text-decoration: none;
    outline: 0;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-inverse .navBar-brand {
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 27px;
    font-family: "Lato", serif;
    padding-bottom: 40px !important;
}

.navBar-fixed-top {
    position: relative;
    z-index: 10;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.navBar .admin-name {
    padding-bottom: 37px !important;
    font-family: "Lato", serif;
    font-size: 20px;
    width: 1520px;
    color: #fff;
    display: inline-block;
    text-align: right;
}

.pos {
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.btn-color-red {
    background-color: #ff000e;
    border: 1px solid #ff000e;
}

.btn-color-green {
    background-color: #48d510;
    border: 1px solid #48d510;
}

.btn-color-blue {
    background-color: #1334de;
    border: 1px solid #1334de;
}

.btn-color-light-blue {
    background-color: #22b4d7;
    border: 1px solid #22b4d7;
}

.btn-color-brown {
    background-color: rosybrown;
    border: 1px solid rosybrown;
}

.my-3 {
    margin-top: 0 !important;
    margin-bottom: 25px !important;
}

.my-3-2 {
    margin-bottom: 25px;
}

.my-3-3 {
    margin-left: 10px;
    width: 350px;
    height: 40px;
    padding-top: 9px !important;
}

.my-3-4 {
    margin-top: 20px;
    margin-left: 100px;
    width: 490px;
}

.grade-panel {
    border-radius: 7px;
    margin-top: 30px;
    margin-left: 270px;
    margin-bottom: 20px;
    width: 800px;
    height: 930px;
}

.grade-panel-m {
    margin-left: 100px;
    height: 645px;
    overflow: auto;
}

h4 {
    color: #6f42c1;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
    padding-left: 100px;
    margin-bottom: 20px;
    width: 590px;
}

h5 {
    color: #10cdb9;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    width: 480px;
}

h6 {
    color: #66b516;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    margin-top: -25px;
    width: 480px;
}

.h5 {
    font-size: 26px !important;
    font-family: "Grenze Gotisch", cursive;
}

.h6 {
    font-size: 25px !important;
    font-family: "Grenze Gotisch", sans-serif;
}

.choose-panel {
    border-radius: 7px;
    margin-left: 75px;
    width: 400px;
    height: 185px;
}

.change {
    margin-left: 60px;
    background-color: #fafbfc !important;
    border-radius: 5px;
    height: 100px;
    width: 370px;
}

.select-s {
    font-size: 23px !important;
    background-color: #e2dbdb;
    text-align: center !important;
    border: 3px;
    border-radius: 3px;
    transition: .2s;
    width: 350px;
    height: 29px;
    margin-top: 15px !important;
    margin-left: 10px;
    font-family: "Lato", serif;
}

.average-panel {
    border-radius: 7px;
    margin-top: 25px;
    margin-left: 75px;
    width: 300px;
    height: 380px;
}

.my-td-1-0 {
    color: #1308ef;
    padding: 10px 10px;
    transition: .3s linear;
}

.aver-grades-table {
    margin-left: 100px;
    margin-right: 20px;
    font-size: 20px;
    background-color: #fafbfc !important;
    border-radius: 5px;
    max-width: 90%;
    width: 90%;
    border-collapse: collapse;
    text-align: left;
}

.my-td-1-1 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
}

.grades-table {
    margin-left: 0;
    font-size: 25px;
    background-color: #fafbfc !important;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    height: auto !important;
    background-attachment: fixed;
    border: 5px solid #A9A5A6;
    border-block-end: none;
    border-block-start: none;
}

.pad {
    margin-top: 60px;
}

.th-1 {
    min-width: 50px;
    height: 100px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.th-2 {
    min-width: 70px;
    height: 35px;
    background-color: #2ca6cf;
    text-align: center;
    max-width: 140px;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.th-3 {
    min-width: 70px;
    height: 35px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.th-4 {
    min-width: 70px;
    height: 35px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
}

.my-td-1 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.my-td-2 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.my-td-3 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.my-td-4 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}