body {
    background-image: url(images/background.jpg);
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    color: #1e2460;
    text-decoration: none;
    outline: 0;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-inverse .navBar-brand {
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 27px;
    font-family: "Lato", serif;
    padding-bottom: 40px !important;
}

.navBar-fixed-top {
    position: relative;
    z-index: 10;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.navBar .admin-name {
    padding-bottom: 37px !important;
    font-family: "Lato", serif;
    font-size: 20px;
    width: 1590px;
    color: #fff;
    display: inline-block;
    text-align: right;
}

.pos {
    position: relative;
    z-index: 5;
}

.btn-color-red {
    background-color: #ff000e;
    border: 1px solid #ff000e;
}

.btn-color-green {
    background-color: #48d510;
    border: 1px solid #48d510;
}

.btn-color-blue {
    background-color: #1334de;
    border: 1px solid #1334de;
}

.btn-color-light-blue {
    background-color: #22b4d7;
    border: 1px solid #22b4d7;
}

.student-data-panel {
    margin-top: 100px;
    margin-left: 250px;
    height: 530px;
}

.student-profile {
    height: 470px;
    width: 330px;
    padding-top: 15px !important;
    margin: 20px 20px 20px;
    text-align: center !important;
    background-color: #eabe6b;
    border-radius: 5px;
}

.my-3 {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
}

.my-3-2 {
    margin-bottom: 25px;
}

.my-3-3 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
}

.my-3-4 {
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
}

.f4 {
    font-size: 15px !important;
}

h6 {
    color: #66b516;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
    width: 370px;
}


.h5 {
    font-size: 25px !important;
    font-family: "Grenze Gotisch", cursive;
}

.h6 {
    font-size: 26px !important;
    font-family: "Source Sans Pro", sans-serif;
}

.button-panel {
    margin-top: 280px;
    margin-left: 330px;
    width: 420px;
    height: 265px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.select-class {
    font-size: 25px !important;
    background-color: #e2dbdb;
    text-align: center !important;
    border: 3px;
    border-radius: 3px;
    transition: .2s;
    width: 400px;
    height: 40px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 3px;
    font-family: "Lato", serif;
}

.btn-color-red-blue {
    background-color: blueviolet;
    border: 1px solid blueviolet;
}