body {
    background-image: url(images/background.jpg);
    overflow: hidden;
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    color: #1e2460;
    text-decoration: none;
    outline: 0;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-inverse .navBar-brand {
    font-weight: 600;
    vertical-align: middle;
    color: #fff;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    padding-bottom: 36px !important;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.align-top {
    vertical-align: top !important;
}

.myPanel {
    margin-top: 10px;
    margin-right: 640px;
    margin-left: 640px;
    height: 800px;
    background-color: #fafbfc !important;
    border-radius: 7px;
}

h3 {
    color: #d49b57;
    font-family: "Grenze Gotisch", cursive;
    font-size: 55px;
    text-align: center;
}

.form-create {
    margin: 25px 20px 20px;
}

.form-group dt {
    margin: 0 0 6px;
}

.error {
    margin-top: -12px;
    height: 30px;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    padding-left: 15px;
    text-align: center;
    color : red;
}

.h5 {
    font-size: 20px !important;
    margin-left: 15px;
    font-family: "Source Sans Pro";
}

.myPanel .form-control-lg {
    width: 100%;
    min-height: 40px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.form-group .form-control {
    width: 540px;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 5px;
    background-color: #fafbfc;
}

.input-block {
    display: block;
    width: 100%;
}

.btn-color-violet {
    background-color: darkviolet;
    border: 1px solid darkviolet;
}

.btn-color-red {
    background-color: #ff000e;
    border: 1px solid #ff000e;
}

.select-s {
    font-size: 18px !important;
    border-color: #ced4da;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    transition: .2s;
    width: 540px;
    min-height: 40px;
    height: calc(1.5em + 1rem + 2px);
    background-color: #fafbfc !important;
}

.navbar .admin-name {
    width: 1520px !important;
    padding-bottom: 36px !important;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    text-align: right;
}

.my-3 {
    margin-top: 0px !important;
    margin-bottom: 24px !important;
    width: 165px;
}

.my-form {
    margin-bottom: 3px !important;
}

.my-3-3 {
    margin-bottom: 22px;
}

.my-3-4 {
    margin-top: 2px !important;
    margin-left: 15px;
    width: 540px;
}

.border-class {
    margin-left: 15px;
    border-radius: 3px;
    border-color: #ced4da;
    width: 540px;
    background-color: #fafbfc !important;
}

.username-panel {
    padding-top: 20px;
}