body {
    background-image: url(images/background.jpg);
    overflow: hidden;
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    color: #1e2460;
    text-decoration: none;
    outline: 0;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-inverse .navBar-brand {
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 25px;
    font-family: "Lato", serif;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.align-top {
    vertical-align: top !important;
}

.description {
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    color: #fff;
    font-family: "Source Sans Pro", serif;
    font-size: 40px;
}

.myPanel {
    margin: 15px 680px 100px;
    height: 710px;
    background-color: #fafbfc !important;
    border-radius: 7px;
}

h3 {
    color: #900ecb;
    font-family: "Grenze Gotisch", cursive;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
}

.home-signUp {
    height: 545px;
    margin: 10px 20px 20px;
}

.form-group dt {
    margin: 0 0 6px;
}

.h5 {
    font-size: 18px !important;
    font-family: "Source Sans Pro", serif;
}

.myPanel .form-control-lg {
    width: 100%;
    min-height: 40px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.form-group .form-control {
    width: 570px;
    max-width: 100%;
    margin-right: 5px;
    background-color: #fafbfc;
}

.input-block {
    display: block;
    width: 100%;
}

.btn-blue-color {
    background-color: #1074e7;
    border: 3px solid #1074e7;
    border-radius: 3px;
}

.my-3-2 {
    margin-top: -10px !important;
}

.home-back {
    margin: 20px;
}

.btn-red-color {
    background-color: #dc3545;
    border: 3px solid #dc3545;
}