body {
    background-image: url(images/background.jpg);
    overflow: hidden;
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    color: #1e2460;
    text-decoration: none;
    outline: 0;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-fixed-top {
    position: relative;
    z-index: 10;
}

.navBar-inverse .navBar-brand {
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 27px;
    font-family: "Lato", serif;
    padding-bottom: 40px !important;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.align-top {
    vertical-align: top !important;
}

.myPanel {
    margin-top: 35px;
    margin-right: 590px;
    margin-left: 680px;
    height: 780px;
    background-color: #fafbfc !important;
    border-radius: 7px;
}

h3 {
    color: #6f42c1;
    font-family: "Grenze Gotisch", cursive;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
}

.btn-color-orange {
    background-color: #fd7e14;
    border: 1px solid #fd7e14;
}

.btn-color-red {
    background-color: #ff000e;
    border: 1px solid #ff000e;
}

.btn-color-green {
    background-color: green;
    border: 1px solid green;
}

.home-signUp {
    height: 545px;
    margin: 25px 20px 20px;
}


.form-group dt {
    margin: 0 0 6px;
}

.h5 {
    font-size: 20px !important;
    margin-left: 15px;
    margin-bottom: 0;
    font-family: "Source Sans Pro", sans-serif;
}

.myPanel .form-control-lg {
    width: 100%;
    min-height: 40px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.form-group .form-control {
    width: 540px;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 5px;
    background-color: #fafbfc;
}

.input-block {
    display: block;
    width: 100%;
}

.f4 {
    width: 540px;
    margin-left: 15px;
    font-size: 16px !important;
}

.error-signUp {
    height: 30px;
    padding-left: 15px !important;
    font-size: 18px;
    color: #dc3545;
    margin-top: -7px;
    margin-bottom: 2px;
    font-family: "Source Sans Pro", sans-serif;
}

.select-subject {
    font-size: 18px !important;
    border-color: #ced4da;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    transition: .2s;
    width: 540px;
    min-height: 40px;
    height: calc(1.5em + 1rem + 2px);
    background-color: #fafbfc !important;
}

.navbar .admin-name {
    width: 1540px !important;
    padding-bottom: 36px !important;
    font-family: "Lato", serif;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    text-align: right;
}

.my-3 {
    margin-top: 2px !important;
    margin-bottom: 25px !important;
    width: 150px;
}

.my-3-3 {
    margin-bottom: 22px;
}

.border-class {
    margin-left: 15px;
    border-radius: 3px;
    border-color: #ced4da;
    width: 540px;
    background-color: #fafbfc !important;
}