body {
    background-image: url(images/background.jpg);
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    color: #1e2460;
    text-decoration: none;
    outline: 0;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-inverse .navBar-brand {
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 27px;
    font-family: "Lato", serif;
    padding-bottom: 40px !important;
}

.navBar-fixed-top {
    position: relative;
    z-index: 10;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navBar .teacher-name {
    padding-bottom: 37px !important;
    font-family: "Lato", serif;
    font-size: 20px;
    width: 1480px;
    color: #fff;
    display: inline-block;
    text-align: right;
}

.pos {
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.btn-color-orange {
    background-color: #fd7e14;
    border: 1px solid #fd7e14;
}

.btn-color-plum {
    background-color: plum;
    border: 1px solid plum;
}

.btn-color-grey {
    background-color: gray;
    border: 1px solid gray;
}

.btn-color-red {
    background-color: #ff000e;
    border: 1px solid #ff000e;
}

.btn-color-green {
    background-color: #48d510;
    border: 1px solid #48d510;
}

.btn-color-blue {
    background-color: #1334de;
    border: 1px solid #1334de;
}

.btn-color-light-blue {
    background-color: #22b4d7;
    border: 1px solid #22b4d7;
}

.student-data-panel {
    margin: 40px 270px 100px 200px;
    height: 530px;
}

.student-profile {
    height: 400px;
    width: 230px;
    padding-top: 15px !important;
    margin: 20px 20px 20px;
    text-align: center !important;
    background-color: #eabe6b;
    border-radius: 5px;
}

.my-3 {
    margin-top: 0 !important;
    margin-bottom: 25px !important;
}

.my-3-2 {
    margin-bottom: 25px;
}

.my-3-3 {
    margin-top: 20px;
    margin-left: 25px;
    width: 410px;
}

.my-3-4 {
    margin-top: 5px;
    margin-left: 430px;
    width: 50%;
    padding-top: 9px !important;
    height: 40px;
}

.my-3-5 {
    margin-top: -5px;
    margin-left: 40px;
    width: 650px;
    padding-top: 9px !important;
    height: 40px;
}

.my-3-6 {
    margin-top: -5px;
    margin-left: 40px;
    width: 20%;
    padding-top: 9px !important;
    height: 40px;
}

.f4 {
    font-size: 15px !important;
}

.task-panel {
    border-radius: 7px;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
}

.task-panel-m {
    height: 570px;
}

.add-grade-panel {
    margin-top: 40px;
    margin-left: 70px;
    height: 830px;
    width: 500px;
}

.task-table {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 25px;
    background-color: #fafbfc !important;
    width: 50%;
    border-collapse: collapse;
    text-align: left;
    border: 5px solid #A9A5A6;
    border-block-end: none;
    border-block-start: none;
}

.add-grade {
    border-radius: 7px;
    margin-top: 20px;
    padding-top: 10px;
    height: 500px;
    width: 460px;
    background-color: wheat !important;
}

.select-panel {
    font-size: 23px !important;
    background-color: #e2dbdb;
    text-align: center !important;
    border: 3px;
    border-radius: 3px;
    transition: .2s;
    width: 400px;
    height: 29px;
    margin-left: 40px;
    font-family: "Lato", serif;
}

h3 {
    color: #ea6008;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
}

h4 {
    color: #6f42c1;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
}

h5 {
    color: #10cdb9;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
}

h6 {
    color: #66b516;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
    width: 265px;
}

.h5 {
    font-size: 26px !important;
    font-family: "Grenze Gotisch", cursive;
}

.h6 {
    font-size: 25px !important;
    font-family: "Grenze Gotisch", sans-serif;
}

.h {
    margin-left: 25px;
}

.m {
    margin-top: 10px;
}

textarea {
    margin-left: 25px;
    height: 200px;
    width: 410px;
    border: 2px solid #afafb8;
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    resize: none;
}

.my-td-1 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 100px !important;
    border-right: 2px solid #2ca6cf;
}

.my-td-2 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    border-right: 2px solid #2ca6cf;
}

.th-1 {
    min-width: 70px;
    height: 100px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.th-2 {
    min-width: 1580px;
    max-width: 1580px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.select-page {
    font-size: 25px !important;
    background-color: #e2dbdb;
    text-align: center !important;
    border: 3px;
    border-radius: 3px;
    transition: .2s;
    width: 100px;
    height: 40px;
    margin-top: 15px !important;
    margin-left: 500px;
    padding-left: 30px;
    font-family: "Lato", serif;
}

.select-subject {
    font-size: 25px !important;
    background-color: #e2dbdb;
    text-align: center !important;
    border: 3px;
    border-radius: 3px;
    transition: .2s;
    width:  400px;
    height: 40px;
    margin-left: 500px;
    padding-left: 30px;
    font-family: "Lato", serif;
}