body {
    background-image: url(images/background.jpg);
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    color: #1e2460;
    text-decoration: none;
    outline: 0;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-inverse .navBar-brand {
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 27px;
    font-family: "Lato", serif;
    padding-bottom: 40px !important;
}

.navBar-fixed-top {
    position: relative;
    z-index: 10;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navBar .teacher-name {
    padding-bottom: 37px !important;
    font-family: "Lato", serif;
    font-size: 20px;
    width: 1500px;
    color: #fff;
    display: inline-block;
    text-align: right;
}

.pos {
    position: relative;
    z-index: 5;
}

.btn-color-orange {
    background-color: #fd7e14;
    border: 1px solid #fd7e14;
}

.btn-color-red {
    background-color: #ff000e;
    border: 1px solid #ff000e;
}

.btn-color-green {
    background-color: #48d510;
    border: 1px solid #48d510;
}

.btn-color-blue {
    background-color: #1334de;
    border: 1px solid #1334de;
}

.btn-color-light-blue {
    background-color: #2377de;
    border: 1px solid #2377de;
}

.my-3 {
    margin-top: 0 !important;
    margin-bottom: 25px !important;
}

.my-3-2 {
    margin-bottom: 25px;
}

.my-3-5 {
    margin-top: 20px;
    margin-left: 340px;
    width: 720px;
}

.f4 {
    font-size: 15px !important;
}

.student-panel {
    border-radius: 7px;
    margin-top: 40px;
    margin-left: 240px;
    width: 1560px;
    height: 800px;
}

.student-panel-m {
    height: 605px;
}

.my-student-table {
    margin-top: 25px;
    font-size: 22px;
    background-color: #fafbfc !important;
    border-collapse: collapse;
    text-align: left;
    border: 5px solid #A9A5A6;
    border-block-end: none;
    border-block-start: none;
}

.select-page {
    font-size: 25px !important;
    background-color: #e2dbdb;
    text-align: center !important;
    border: 3px;
    border-radius: 3px;
    transition: .2s;
    width: 100px;
    height: 40px;
    margin-top: 15px !important;
    margin-left: 570px;
    padding-left: 30px;
    font-family: "Lato", serif;
}

.my-3-4 {
    margin-left: 30px;
    margin-top: -7px;
    width: 150px;
    height: 40px;
    padding-top: 9px !important;
}

h3 {
    color: #ea6008;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
    padding-right: 130px;
}

h4 {
    color: #6f42c1;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
}

h5 {
    color: #10cdb9;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
}

.h6 {
    font-size: 23px !important;
    font-family: "Source Sans Pro", serif;
}

.th-1 {
    min-width: 50px;
    height: 100px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.th-2 {
    min-width: 320px;
    height: 35px;
    background-color: #2ca6cf;
    text-align: center;
    max-width: 140px;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.th-3 {
    min-width: 320px;
    height: 35px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.th-4 {
    min-width: 320px;
    height: 35px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}
.th-5 {
    min-width: 440px;
    height: 35px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
}

.my-td-1 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.my-td-2 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.my-td-3 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.my-td-4 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.my-td-5 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}