.btn {
    display: inline-block;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3px;
    transition: .2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn-navBar {
    padding: 6px 15px !important;
}

.btn-navBar-2 {
    padding: 3px 15px !important;
}

.img-size {
    width: 35px;
    height: 35px;
}