body {
    background-image: url(images/background.jpg);
    overflow: hidden;
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    color: #1e2460;
    text-decoration: none;
    outline: 0;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-inverse .navBar-brand {
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 27px;
    font-family: "Lato", serif;
    padding-bottom: 40px !important;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.pos {
    position: relative;
    z-index: 5;
}

.navbar .admin-name {
    padding-bottom: 35px !important;
    font-family: "Lato", serif;
    font-size: 20px;
    width: 1660px;
    color: #fff;
    display: inline-block;
    text-align: right;
}

.navBar-fixed-top {
    position: relative;
    z-index: 10;
}

.btn-color-red {
    background-color: #ff000e;
    border: 1px solid #ff000e;
}

.my-3 {
    margin-top: 2px !important;
    margin-bottom: 25px !important;
    width: 150px;
}

.my-3-1 {
    margin-top: 2px !important;
    margin-bottom: 25px !important;
}

.my-3-2 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
}

.btn-color-blue {
    background-color: #1334de;
    border: 1px solid #1334de;
}

.btn-color-red-blue {
    background-color: blueviolet;
    border: 1px solid blueviolet;
}

.btn-color-orange {
    background-color: #d26f1a;
    border: 1px solid #d26f1a;
}

.btn-color-green {
    background-color: green;
    border: 1px solid green;
}

.button-panel {
    margin-top: 300px;
    margin-left: 730px;
    width: 420px;
    height: 240px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.size-1 {
    width: 100px;
}