body {
    background-image: url(images/background.jpg);
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    color: #1e2460;
    text-decoration: none;
    outline: 0;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-inverse .navBar-brand {
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 27px;
    font-family: "Lato", serif;
    padding-bottom: 40px !important;
}

.navBar-fixed-top {
    position: relative;
    z-index: 10;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navBar .teacher-name {
    padding-bottom: 37px !important;
    font-family: "Lato", serif;
    font-size: 20px;
    width: 1500px;
    color: #fff;
    display: inline-block;
    text-align: right;
}

.pos {
    position: relative;
    z-index: 5;
}

.btn-color-orange {
    background-color: #fd7e14;
    border: 1px solid #fd7e14;
}

.btn-color-red {
    background-color: #ff000e;
    border: 1px solid #ff000e;
}

.btn-color-green {
    background-color: #48d510;
    border: 1px solid #48d510;
}

.btn-color-blue {
    background-color: #1334de;
    border: 1px solid #1334de;
}

.my-3 {
    margin-top: 0 !important;
    margin-bottom: 25px !important;
}

.my-3-2 {
    margin-bottom: 25px;
}

.my-3-4 {
    margin-top: 25px;
    margin-left: 10px;
    width: 350px;
}

.select-class {
    font-size: 30px !important;
    background-color: #e2dbdb;
    text-align: center !important;
    border: 3px;
    border-radius: 3px;
    transition: .2s;
    width: 350px;
    height: 40px;
    margin-top: 15px !important;
    margin-left: 10px;
    padding-left: 15px;
    font-family: "Lato", serif;
}

.f4 {
    font-size: 15px !important;
}

.class-panel {
    border-radius: 7px;
    margin-top: 300px;
    margin-left: 210px;
    margin-right: 210px;
}

.class-panel-m {
    margin-left: 550px;
    width: 300px;
    height: 300px;
}

h3 {
    color: #ea6008;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
}

h4 {
    color: #6f42c1;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
}

h5 {
    color: #10cdb9;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
}

.size-1 {
    width: 150px;
}

.size-2 {
    width: 100px;
}