body {
    background-image: url(images/background.jpg);
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    color: #1e2460;
    text-decoration: none;
    outline: 0;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-inverse .navBar-brand {
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 27px;
    font-family: "Lato", serif;
    padding-bottom: 40px !important;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.navbar .student-name {
    padding-bottom: 37px !important;
    font-family: "Lato", serif;
    font-size: 20px;
    width: 1500px;
    color: #fff;
    display: inline-block;
    text-align: right;
}

.pos {
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.btn-color-orange {
    background-color: #fd7e14;
    border: 1px solid #fd7e14;
}

.btn-color-red {
    background-color: red;
    border: 1px solid red;
}

.btn-color-green {
    background-color: #1e7e34;
    border: 3px solid #1e7e34;
}

.select-s {
    font-size: 23px !important;
    background-color: #e2dbdb;
    text-align: center !important;
    border: 3px;
    border-radius: 3px;
    transition: .2s;
    width: 350px;
    height: 29px;
    margin-top: 15px !important;
    margin-left: 10px;
    font-family: "Lato", serif;
}

.my-3 {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
}

.my-3-2 {
    margin-bottom: 25px;
}

.my-3-3 {
    margin-left: 10px;
    width: 350px;
    height: 50px;
    padding-top: 10px !important;
    font-size: 16px !important;
}

.average-panel {
    border-radius: 7px;
    margin-top: 25px;
    margin-left: 50px;
    width: 300px;
    height: 380px;
}

.teacher-panel {
    border-radius: 7px;
    margin-top: 70px;
    margin-left: 60px;
    width: 750px;
    height: 350px;
}

.grade-panel {
    border-radius: 7px;
    margin-top: 40px;
    margin-left: 110px;
    width: 800px;
    height: 830px;
}

.grade-choose-panel {
    border-radius: 7px;
    margin-top: 25px;
    margin-left: 75px;
    width: 400px;
    height: 185px;
}

.change-grade {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fafbfc !important;
    border-radius: 5px;
    height: 110px;
}

.get-tasks {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fafbfc !important;
    border-radius: 5px;
    height: 110px;
}

h3 {
    color: #ea6008;
    font-family: "Grenze Gotisch", cursive;
    font-size: 45px;
    text-align: center !important;
    padding-top: 15px;
    padding-left: 50px;
    margin-left: 29px;
}

h4 {
    color: #119fcb;
    font-family: "Grenze Gotisch", cursive;
    font-size: 30px;
    text-align: center !important;
    padding-top: 15px;
}

h5 {
    color: #6f42c1;
    font-family: "Grenze Gotisch", cursive;
    font-size: 40px;
    text-align: center !important;
    padding-top: 15px;
}

h6 {
    color: #27e814;
    font-family: "Grenze Gotisch", cursive;
    font-size: 29px;
    text-align: center !important;
    padding-top: 15px;
}

.my-aver-grades-table {
    margin-left: 15px;
    margin-right: 20px;
    font-size: 20px;
    background-color: #fafbfc !important;
    border-radius: 5px;
    max-width: 90%;
    width: 90%;
    border-collapse: collapse;
    text-align: left;
}

.my-grades-table {
    margin-left: 79px;
    font-size: 25px;
    background-color: #fafbfc !important;
    max-width: 90%;
    width: 90%;
    border-collapse: collapse;
    text-align: left;
    height: auto;
    background-attachment: fixed;
    border: 5px solid #A9A5A6;
    border-block-end: none;
    border-block-start: none;
}

.my-teacher-table {
    margin-left: 15px;
    margin-right: 20px;
    font-size: 20px;
    background-color: #fafbfc !important;
    border-collapse: collapse;
    text-align: left;
    border-radius: 5px;
}

.grade-panel-m {
    height: 659px;
}

.my-td-1-0 {
    color: #1308ef;
    padding: 10px 10px;
    transition: .3s linear;
}

.my-td-1-1 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
}

.my-td-1-1-0 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    width: 900px;
}

.my-td-1-1-1 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    width: 900px;
}

.my-td-1-1-2 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
}

.select-page {
    font-size: 25px !important;
    background-color: #e2dbdb;
    text-align: center !important;
    border: 3px;
    border-radius: 3px;
    transition: .2s;
    width: 100px;
    height: 40px;
    margin-top: 15px !important;
    margin-left: 310px;
    padding-left: 30px;
    font-family: "Lato", serif;
}

.th-1 {
    min-width: 70px;
    height: 70px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.th-2 {
    min-width: 70px;
    height: 70px;
    background-color: #2ca6cf;
    text-align: center;
    max-width: 140px;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.th-3 {
    min-width: 70px;
    height: 70px;
    background-color: #2ca6cf;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 23px;
    border-right: 2px solid #2ca6cf;
}

.my-td-1 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.my-td-2 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.my-td-3 {
    color: #37376f;
    padding: 10px 10px;
    transition: .3s linear;
    border-bottom: 1px solid #2ca6cf;
    text-align: center;
    font-size: 21px !important;
    height: 24px !important;
    border-right: 2px solid #2ca6cf;
}

.btn-color-blue {
    background-color: #1334de;
    border: 1px solid #1334de;
}

.btn-color-plum {
    background-color: plum;
    border: 1px solid plum;
}

.my-3-4 {
    margin-top: -7px;
    width: 20%;
    padding-top: 9px !important;
    height: 40px;
}

.size-1 {
    width: 150px;
}

.size-2 {
    width: 100px;
}
