body {
    background-image: url(images/background.jpg);
    overflow: hidden;
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    color: #1e2460;
    text-decoration: none;
    outline: 0;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-fixed-top {
    position: relative;
    z-index: 10;
}

.navBar-inverse .navBar-brand {
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 27px;
    font-family: "Lato", serif;
    padding-bottom: 40px !important;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.navbar .user-name {
    width: 1500px !important;
    padding-bottom: 10px !important;
    font-family: "Lato", serif;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    text-align: right;
}

.align-top {
    vertical-align: top !important;
}

.description {
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    color: #fff;
    font-family: "Source Sans Pro", serif;
    font-size: 40px;
}

.myPanel {
    margin: 180px 270px 100px;
    height: 530px;
}

.myPanel-2 {
    margin: 130px 150px 20px;
    height: 355px;
}

.myPanel-3 {
    margin: 20px 150px 100px;
    height: 245px;
}

h3 {
    color: #1074e7;
    font-family: "Grenze Gotisch", cursive;
    font-size: 35px;
    text-align: center !important;
    padding-top: 10px;
}

.btn-color-orange {
    background-color: #fd7e14;
    border: 1px solid #fd7e14;
}

h4 {
    color: #1074e7;
    font-family: "Source Sans Pro", serif;
    font-size: 35px;
    text-align: center !important;
    padding-top: 10px;
}

.home-profile-1 {
    height: 290px;
    margin: 20px;
    text-align: center !important;
    background-color: wheat;
    border-radius: 5px;
}

.home-profile-2 {
    height: 180px;
    margin: 20px;
    text-align: center !important;
    background-color: wheat;
    border-radius: 5px;
}

.user-profile {
    height: 370px;
    padding-top: 10px !important;
    margin: 10px 20px 20px;
    text-align: center !important;
    background-color: wheat;
    border-radius: 5px;
}

.form-group dt {
    margin: 0 0 6px;
}

.h5 {
    font-size: 24px !important;
    font-family: "Grenze Gotisch", cursive;
}

.h6 {
    color: black !important;
    font-size: 20px !important;
    font-family: "Source Sans Pro", serif;
}

.h7 {
    font-size: 20px !important;
    font-family: "Source Sans Pro", monospace;
}

.myPanel .form-control-lg {
    width: 100%;
    min-height: 40px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.form-group .form-control {
    width: 515px;
    max-width: 100%;
    margin-right: 5px;
    background-color: #fafbfc;
}

.input-block {
    display: block;
    width: 100%;
}

.note {
    min-height: 17px;
    margin: 4px 0 2px;
    font-size: 16px;
    text-align: center;
    color: #212529;
}

p {
    font-family: "Source Sans Pro", serif;
    padding-top: 5px !important;
}
.btn-red-color {
    background-color: #ff000e;
    border: 1px solid #ff000e;
}

.btn-green-color {
    background-color:#1e7e34;
    border: 3px solid #1e7e34;
}

.btn-orange-color {
    background-color: #fd7e14;
    border: 3px solid #fd7e14;
    border-radius: 3px;
}

.my-3 {
    margin-top: 5px !important;
}

.my-3-5 {
    width: 170px;
}

.my-3-3 {
    margin-top: 10px !important;
}

.my-3-2 {
    margin-bottom: 22px;
}

.f4 {
    font-size: 16px !important;
}

.mar {
    margin-bottom: 25px !important;
}

.f4-2 {
    font-size: 16px !important;
}

.old-password-panel {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.new-password-panel {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.email-panel {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.change-form {
    font-size: 16px;
    height: 20px; !important;
    padding-bottom: 5px;
    color: #dc3545;
    font-family: "Source Sans Pro", serif;
}

.w-1 {
    width: 550px;
}

.size-1 {
    width: 150px;
}

.size-2 {
    width: 100px;
}