body {
    background-image: url(images/background.jpg);
}

h1 {
    font-family: "Lato", serif;
    font-weight: bold;
    font-size: 55px;
    color: #fff;
}

h2 {
    font-family: "Lato", serif;
    font-weight: 600;
    color: #c0c0c0;
}

.centered {
    text-align: center;
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    color: #1e2460;
    text-decoration: none;
    outline: 0;
}

.description {
    padding-left: 180px;
    margin-top: 70px;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-inverse .navBar-brand {
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 27px;
    font-family: "Lato", serif;
    padding-bottom: 40px !important;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.myPanel {
    margin: 155px 180px 100px 130px;
    height: 450px;
    background-color: #fafbfc !important;
    border-radius: 7px;
}

.signIn-part {
    height: 270px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.mt-0 {
    margin-top: 0 !important;
}

h3 {
    color: #000;
    font-family: "Grenze Gotisch", sans-serif;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
}

.h5 {
    font-size: 19px !important;
    font-family: "Source Sans Pro", serif;
}

.form-group dt {
    margin: 0 0 6px;
}

.mainPanel .form-control-note {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
    color: #6a737d;
}

.myPanel .form-control-lg {
    width: 100%;
    min-height: 40px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.form-group .form-control {
    width: 440px;
    max-width: 100%;
    margin-right: 5px;
    background-color: #fafbfc;
}

.input-block {
    display: block;
    width: 100%;
}

p {
    font-size: 15px !important;
    font-family: "Source Sans Pro", serif;
}

.btn-color-green {
    background-color: green !important;
    border: 3px solid green !important;
}

.btn-color-blue {
    background-color: #007bff !important;
    border: 3px solid #007bff !important;
}

.btn-color-red {
    background-color: red;
    border: 1px solid red;
}

.my-3 {
    margin-top: 5px !important;
}

.my-3-2 {
    margin-bottom: 25px;
}

.f4 {
    font-size: 16px !important;
}

p {
    font-family: "Source Sans Pro", serif;
}

.note {
    min-height: 5px;
    margin: 0 0 2px;
    font-size: 14px;
    text-align: center;
    color: #212529;
}

.signUp-part {
    margin-left: 20px;
    margin-right: 20px;
}

.error-signIn {
    font-size: 18px;
    vertical-align: center;
    margin-top: -10px;
    height: 30px;
    color: #dc3545;
    font-family: "Source Sans Pro", serif;
}

.size-1 {
    width: 100px;
}
