body {
    background-image: url("images/background.jpg");
}

h1 {
    font-family: "Lato", serif;
    font-weight: bold;
    font-size: 60px;
    color: #fff;
}

h2 {
    font-family: "Lato", serif;
    font-weight: 200;
    color: #c0c0c0;
}

a {
    color: #00bfff;
}

a:hover, a:focus {
    text-decoration: none;
    outline: 0;
}

.navBar-inverse {
    height: 60px !important;
}

.navBar-inverse .navBar-brand {
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 25px;
    font-family: "Lato", serif;
}

.navBar-inverse .navBar-brand:hover {
    color: #fff;
}

.myPanel {
    margin-bottom: 100px;
    margin-left: 680px;
    margin-right: 680px;
    height: 195px;
    border-radius: 7px;
}

.cl-btn {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 25px;
}

.cl-btn-2 {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.btn-orange-color {
    background-color: #fd7e14 !important;
    border: 3px solid #fd7e14 !important;
    font-size: 18px !important;
}

.cl-btn:hover, .cl-btn:focus {
    color: #ffffff;
}

.btn-blue-color {
    background-color: #00bfff !important;
    border: 3px solid #00bfff !important;
    font-size: 18px !important;
}

h3 {
    font-size: 30px;
    font-family: "Grenze Gotisch", cursive;
    color: white;
}

.lang-panel {
    text-align: center;
    margin-top: 320px;
}
